# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# other
*.ncb
*.suo
*.pdb
*.ilk

vs_project/Debug/
vs_project/Release/
!vs_project/Release/glut32.dll
!vs_project/Release/cube.exe

