# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# other
*.ncb
*.suo
*.pdb
*.ilk
*.manifest
*.res
*.obj
*.dep
*.idb
*.htm
*.user

vs_project/Debug/
vs_project/Release/
vs_project/cube/Debug/
vs_project/cube/Release/
!vs_project/glut/glut32.dll
!vs_project/glut/glut32.lib
!vs_project/glut/glut.h

